<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OkasionDb" connectionString="Data Source=.;Initial Catalog=OkasionDb;Integrated Security=True"
      providerName="System.Data.SqlCient" />
    <add name="OkasionDbConnectionString" connectionString="Data Source=.;Initial Catalog=OkasionDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
